.container{
    text-align: center;
    margin-top: 30px;
}


.score{
    color: blue;
    font-size: 25px;
}

.high_socre{
    color: green;
    font-size: 20px;
}


.game_over{
    color: red;
    font-size: 25px;
    margin-top: 22px;
}

.gameCanvas{
    background-color: aqua;
    border: 5px solid blue;
}